:root {
  --nav-item-padding: 0.5rem;
}

.imagewrap {
  overflow: hidden;
  background-image: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 25%), url(https://avatars1.githubusercontent.com/u/2557813);
  background-image: gradient(top left, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 25%), url(https://avatars1.githubusercontent.com/u/2557813);
  background-size: auto, 100%;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, inset rgba(0, 0, 0, 0.4) 0 3px 2px;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}
